-- MySQL dump 10.13  Distrib 8.0.43, for Win64 (x86_64)
--
-- Host: localhost    Database: db_tubes_pbo_trinetra
-- ------------------------------------------------------
-- Server version	8.0.45

/*!40101 SET @OLD_CHARACTER_SET_CLIENT=@@CHARACTER_SET_CLIENT */;
/*!40101 SET @OLD_CHARACTER_SET_RESULTS=@@CHARACTER_SET_RESULTS */;
/*!40101 SET @OLD_COLLATION_CONNECTION=@@COLLATION_CONNECTION */;
/*!50503 SET NAMES utf8mb4 */;
/*!40103 SET @OLD_TIME_ZONE=@@TIME_ZONE */;
/*!40103 SET TIME_ZONE='+00:00' */;
/*!40014 SET @OLD_UNIQUE_CHECKS=@@UNIQUE_CHECKS, UNIQUE_CHECKS=0 */;
/*!40014 SET @OLD_FOREIGN_KEY_CHECKS=@@FOREIGN_KEY_CHECKS, FOREIGN_KEY_CHECKS=0 */;
/*!40101 SET @OLD_SQL_MODE=@@SQL_MODE, SQL_MODE='NO_AUTO_VALUE_ON_ZERO' */;
/*!40111 SET @OLD_SQL_NOTES=@@SQL_NOTES, SQL_NOTES=0 */;

--
-- Table structure for table `admins`
--

DROP TABLE IF EXISTS `admins`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `admins` (
  `position` varchar(100) DEFAULT NULL,
  `user_id` varchar(36) NOT NULL,
  PRIMARY KEY (`user_id`),
  CONSTRAINT `FKgc8dtql9mkq268detxiox7fpm` FOREIGN KEY (`user_id`) REFERENCES `users` (`id`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `admins`
--

LOCK TABLES `admins` WRITE;
/*!40000 ALTER TABLE `admins` DISABLE KEYS */;
INSERT INTO `admins` VALUES ('Super Administrator','20d4665a-19dc-4c6b-9d6a-822422ed3af2');
/*!40000 ALTER TABLE `admins` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `chat_logs`
--

DROP TABLE IF EXISTS `chat_logs`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `chat_logs` (
  `id` varchar(36) NOT NULL,
  `created_at` datetime(6) NOT NULL,
  `updated_at` datetime(6) NOT NULL,
  `ai_model_used` varchar(50) DEFAULT NULL,
  `anonymous_identifier` varchar(100) DEFAULT NULL,
  `bot_response` text,
  `session_id` varchar(100) DEFAULT NULL,
  `success` bit(1) NOT NULL,
  `user_message` text NOT NULL,
  `citizen_id` varchar(36) DEFAULT NULL,
  PRIMARY KEY (`id`),
  KEY `idx_chatlog_citizen` (`citizen_id`),
  KEY `idx_chatlog_session` (`session_id`),
  CONSTRAINT `FKtgal3v8m3x8ei8gx35a63jxsj` FOREIGN KEY (`citizen_id`) REFERENCES `citizens` (`user_id`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `chat_logs`
--

LOCK TABLES `chat_logs` WRITE;
/*!40000 ALTER TABLE `chat_logs` DISABLE KEYS */;
/*!40000 ALTER TABLE `chat_logs` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `citizens`
--

DROP TABLE IF EXISTS `citizens`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `citizens` (
  `address` text,
  `kelurahan` varchar(100) DEFAULT NULL,
  `nik` varchar(16) DEFAULT NULL,
  `rt_rw` varchar(10) DEFAULT NULL,
  `user_id` varchar(36) NOT NULL,
  PRIMARY KEY (`user_id`),
  UNIQUE KEY `UK_r0yt63hv6msudilci5kjt4ibw` (`nik`),
  CONSTRAINT `FKgx7s2yqk5jxh5dmc03swk30em` FOREIGN KEY (`user_id`) REFERENCES `users` (`id`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `citizens`
--

LOCK TABLES `citizens` WRITE;
/*!40000 ALTER TABLE `citizens` DISABLE KEYS */;
INSERT INTO `citizens` VALUES ('Jl. Kebersihan No. 10, RT 02/01',NULL,'3201012345678901',NULL,'0da6dd2b-486c-4e0e-a99e-83d7a36d155f');
/*!40000 ALTER TABLE `citizens` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `collectors`
--

DROP TABLE IF EXISTS `collectors`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `collectors` (
  `assigned_area` varchar(200) DEFAULT NULL,
  `available` bit(1) NOT NULL,
  `is_iot_device` bit(1) NOT NULL,
  `iot_device_id` varchar(50) DEFAULT NULL,
  `vehicle_number` varchar(30) DEFAULT NULL,
  `user_id` varchar(36) NOT NULL,
  PRIMARY KEY (`user_id`),
  UNIQUE KEY `UK_o8uhe98exkw49gwrikjawpn4w` (`iot_device_id`),
  CONSTRAINT `FK6m9ylxjcfj1o0hgf5o4udcj3o` FOREIGN KEY (`user_id`) REFERENCES `users` (`id`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `collectors`
--

LOCK TABLES `collectors` WRITE;
/*!40000 ALTER TABLE `collectors` DISABLE KEYS */;
INSERT INTO `collectors` VALUES ('Area RT 01-10',_binary '',_binary '\0',NULL,'B 1234 SW','245b8746-cf46-4a94-9148-58dd0315f2b5'),('Smart Bin Area A - Balai Desa',_binary '',_binary '','NETRADUMP-001',NULL,'4094bc42-9bd0-40ac-889c-345de5ad6198');
/*!40000 ALTER TABLE `collectors` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `green_wallets`
--

DROP TABLE IF EXISTS `green_wallets`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `green_wallets` (
  `id` varchar(36) NOT NULL,
  `created_at` datetime(6) NOT NULL,
  `updated_at` datetime(6) NOT NULL,
  `redeemed_points` double NOT NULL,
  `total_points` double NOT NULL,
  `citizen_id` varchar(36) NOT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `UK_iv38bt9mjks8qux51i4o457x7` (`citizen_id`),
  CONSTRAINT `FK1jtobabq932ruksxppbb29g71` FOREIGN KEY (`citizen_id`) REFERENCES `citizens` (`user_id`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `green_wallets`
--

LOCK TABLES `green_wallets` WRITE;
/*!40000 ALTER TABLE `green_wallets` DISABLE KEYS */;
INSERT INTO `green_wallets` VALUES ('11f4420c-3483-4a96-8ff0-523e542a6740','2026-04-12 21:43:54.521683','2026-04-12 22:22:27.473993',0,14.4,'0da6dd2b-486c-4e0e-a99e-83d7a36d155f');
/*!40000 ALTER TABLE `green_wallets` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `password_reset_tokens`
--

DROP TABLE IF EXISTS `password_reset_tokens`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `password_reset_tokens` (
  `id` bigint NOT NULL AUTO_INCREMENT,
  `expiry_date` datetime(6) NOT NULL,
  `token` varchar(255) NOT NULL,
  `user_id` varchar(36) NOT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `UK_71lqwbwtklmljk3qlsugr1mig` (`token`),
  UNIQUE KEY `UK_la2ts67g4oh2sreayswhox1i6` (`user_id`),
  CONSTRAINT `FKk3ndxg5xp6v7wd4gjyusp15gq` FOREIGN KEY (`user_id`) REFERENCES `users` (`id`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `password_reset_tokens`
--

LOCK TABLES `password_reset_tokens` WRITE;
/*!40000 ALTER TABLE `password_reset_tokens` DISABLE KEYS */;
/*!40000 ALTER TABLE `password_reset_tokens` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `point_redemptions`
--

DROP TABLE IF EXISTS `point_redemptions`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `point_redemptions` (
  `id` varchar(36) NOT NULL,
  `created_at` datetime(6) NOT NULL,
  `updated_at` datetime(6) NOT NULL,
  `admin_notes` text,
  `description` text NOT NULL,
  `points_redeemed` double NOT NULL,
  `reward_code` varchar(100) DEFAULT NULL,
  `status` enum('PENDING','APPROVED','REJECTED') NOT NULL,
  `citizen_id` varchar(36) NOT NULL,
  PRIMARY KEY (`id`),
  KEY `idx_redemption_citizen` (`citizen_id`),
  KEY `idx_redemption_status` (`status`),
  CONSTRAINT `FKehchtngar3nw5cb63d5vvojub` FOREIGN KEY (`citizen_id`) REFERENCES `citizens` (`user_id`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `point_redemptions`
--

LOCK TABLES `point_redemptions` WRITE;
/*!40000 ALTER TABLE `point_redemptions` DISABLE KEYS */;
/*!40000 ALTER TABLE `point_redemptions` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `users`
--

DROP TABLE IF EXISTS `users`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `users` (
  `user_type` varchar(31) NOT NULL,
  `id` varchar(36) NOT NULL,
  `created_at` datetime(6) NOT NULL,
  `updated_at` datetime(6) NOT NULL,
  `active` bit(1) NOT NULL,
  `email` varchar(150) NOT NULL,
  `name` varchar(100) NOT NULL,
  `password` varchar(255) NOT NULL,
  `phone` varchar(20) DEFAULT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `UK_6dotkott2kjsp8vw4d0m25fb7` (`email`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `users`
--

LOCK TABLES `users` WRITE;
/*!40000 ALTER TABLE `users` DISABLE KEYS */;
/*!40000 ALTER TABLE `users` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `waste_categories`
--

DROP TABLE IF EXISTS `waste_categories`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `waste_categories` (
  `id` varchar(36) NOT NULL,
  `created_at` datetime(6) NOT NULL,
  `updated_at` datetime(6) NOT NULL,
  `active` bit(1) NOT NULL,
  `description` text,
  `icon_url` varchar(500) DEFAULT NULL,
  `name` varchar(100) NOT NULL,
  `points_per_kg` double NOT NULL,
  `type` enum('ORGANIC','INORGANIC','B3') NOT NULL,
  PRIMARY KEY (`id`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `waste_categories`
--

LOCK TABLES `waste_categories` WRITE;
/*!40000 ALTER TABLE `waste_categories` DISABLE KEYS */;
/*!40000 ALTER TABLE `waste_categories` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `waste_deposits`
--

DROP TABLE IF EXISTS `waste_deposits`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `waste_deposits` (
  `id` varchar(36) NOT NULL,
  `created_at` datetime(6) NOT NULL,
  `updated_at` datetime(6) NOT NULL,
  `confirmed_at` datetime(6) DEFAULT NULL,
  `from_iot` bit(1) NOT NULL,
  `image_url` varchar(500) DEFAULT NULL,
  `iot_device_id` varchar(50) DEFAULT NULL,
  `location` varchar(200) DEFAULT NULL,
  `notes` text,
  `points_earned` double NOT NULL,
  `status` enum('PENDING','CONFIRMED','REJECTED') NOT NULL,
  `weight_kg` double NOT NULL,
  `category_id` varchar(36) NOT NULL,
  `citizen_id` varchar(36) NOT NULL,
  `collector_id` varchar(36) DEFAULT NULL,
  PRIMARY KEY (`id`),
  KEY `idx_deposit_citizen` (`citizen_id`),
  KEY `idx_deposit_status` (`status`),
  KEY `idx_deposit_created` (`created_at`),
  KEY `FK7ttw8blddgf7ifnn1b879c964` (`category_id`),
  KEY `FKofw1j35wn4lxt591ee1ep9u8c` (`collector_id`),
  CONSTRAINT `FK7ttw8blddgf7ifnn1b879c964` FOREIGN KEY (`category_id`) REFERENCES `waste_categories` (`id`),
  CONSTRAINT `FKaomv4rm5jtsx733yn1wi2tr4k` FOREIGN KEY (`citizen_id`) REFERENCES `citizens` (`user_id`),
  CONSTRAINT `FKofw1j35wn4lxt591ee1ep9u8c` FOREIGN KEY (`collector_id`) REFERENCES `collectors` (`user_id`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `waste_deposits`
--

LOCK TABLES `waste_deposits` WRITE;
/*!40000 ALTER TABLE `waste_deposits` DISABLE KEYS */;
INSERT INTO `waste_deposits` VALUES ('6d403039-c60b-437b-8687-dc413bf2526a','2026-04-12 22:21:37.735085','2026-04-12 22:22:27.472994','2026-04-12 22:22:27.440772',_binary '\0',NULL,NULL,NULL,'',14.4,'CONFIRMED',1.2,'032cc629-1ced-441c-9d92-418638f7ea0f','0da6dd2b-486c-4e0e-a99e-83d7a36d155f','245b8746-cf46-4a94-9148-58dd0315f2b5');
/*!40000 ALTER TABLE `waste_deposits` ENABLE KEYS */;
UNLOCK TABLES;
/*!40103 SET TIME_ZONE=@OLD_TIME_ZONE */;

/*!40101 SET SQL_MODE=@OLD_SQL_MODE */;
/*!40014 SET FOREIGN_KEY_CHECKS=@OLD_FOREIGN_KEY_CHECKS */;
/*!40014 SET UNIQUE_CHECKS=@OLD_UNIQUE_CHECKS */;
/*!40101 SET CHARACTER_SET_CLIENT=@OLD_CHARACTER_SET_CLIENT */;
/*!40101 SET CHARACTER_SET_RESULTS=@OLD_CHARACTER_SET_RESULTS */;
/*!40101 SET COLLATION_CONNECTION=@OLD_COLLATION_CONNECTION */;
/*!40111 SET SQL_NOTES=@OLD_SQL_NOTES */;

-- Dump completed on 2026-04-19 12:56:25
